:root {
    --white-ish: rgb(223, 223, 223);
    --people-eater: rgb(168, 75, 211);
    --purple-rain: rgb(33, 21, 61);
    --just-gray: rgb(57, 45, 68);
    --darker-gray: rgb(23, 19, 29);
}

*{
 font-family: 'Rubik', sans-serif;
 color: var(--white-ish);
}

p {
    font-size: 1.5rem;
    text-align: center;
}
/* header and nav */
header {
    top: 0;
    width: 100%;
    font-size: 2rem;
    padding: 15px;
    position: fixed;
    background-color: var(--purple-rain);
}

.nav {
    margin: 0;
    width:75%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    font-variant: all-small-caps;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.nav-menu :hover {
    color: var(--people-eater);
}

/* main */
main {
    background-color: var(--darker-gray);
}

.top-section-header {
    margin-top: 100px;
    padding-top: 150px;
}

.top-section-header, .section-header {
    font-size: 2rem;
    text-align: center;
    background-color: var(--just-gray);
    padding: 10px;
}

.section {
    background-color: var(--darker-gray);
    width:75%;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

/* about */
.column-section {
    background-color: var(--darker-gray);
    width:75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 250px;
    border-radius: 250px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.about {
    width: 800px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* work */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-project-image {
   width: max-content;
}

.project-image {
    width: 50%;
}

.big-project-image, .project-image {
    border-radius: 30px;
}

/* contact */
.contact-list {
    list-style-type: none;
    font-variant: all-small-caps;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
    padding: 50px;
}

/* media queries */