:root {
    --white-ish: rgb(223, 223, 223);
    --people-eater: rgb(168, 75, 211);
    --just-gray: rgb(42, 41, 43);
    --darker-gray: rgb(23, 19, 29);
}

*{
 font-family: 'Rubik', sans-serif;
 color: var(--white-ish);
 background-color: var(--darker-gray);
}

header {

}

main {

}

.section {

}

.section header {

}

.big project image {
   
}

.project image {
  
}
